<div class="container">
    <div class="row">
        <ng-container *ngFor="let pelicula of peliculaArray">
            <div class="card col-md-3 shadow-lg">
                <img src="{{pelicula.img}}" alt="">
                <h5>{{ pelicula.titulo }} <span class="badge bg-primary"> {{ pelicula.anio}} </span></h5>

                <p style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 400ch;">{{ pelicula.sinopsis }}</p>
                <p><strong>Price:</strong> {{pelicula.precio | currency}}</p>
                <button class="btn btn-danger bg-gradient" (click)=agregarAlCarrito(pelicula)>Agregar al carrito</button>
            </div>
        </ng-container>

    </div>
</div>