<div class="row py-5">
    <h5>Adquiere las mejores pel&iacute;culas</h5>

    <ng-container *ngFor="let pelicula of peliculaArray">
        <div class="card col-md-2 animated fadeIn">
            <img src="{{pelicula.img}}" alt="{{pelicula.img}}">
            <h6>{{ pelicula.titulo }} <span class="badge bg-primary"> {{ pelicula.anio}} </span></h6>

            <p style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 400ch;"><small>{{ pelicula.sinopsis }}</small></p>
            <p><strong>Price:</strong> {{pelicula.precio | currency}}</p>
            <button class="btn bg-secondary bg-gradient" (click)=agregarAlCarrito(pelicula)><i class="fas fa-cart-plus"></i> Agregar al carrito</button>
        </div>
    </ng-container>
</div>